[Desktop Entry]
Name=Quadra
Comment=Multiplayer puzzle game
Comment[pl]=Gra logiczna dla wielu graczy
Exec=quadra
Terminal=false
Type=Application
Icon=quadra
Categories=Game;BoardGame;
# vi: encoding=utf-8
