[Desktop Entry]
Name=Quadra
Comment=Multiplayer puzzle game
Comment[pl]=Gra logiczna dla wielu graczy
Exec=quadra
Terminal=0
Type=Application
Icon=quadra.xpm
# vi: encoding=utf-8
